body {
    background: #181A1B
}

.container {
    justify-content: center;
    display: flex;
    gap: 2px;
}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: 100px;
    font-size: x-large;
}

#button {
    order: 1;
    height: 50px;
    width: 250px;
    background-color: #2BAE66;
    font-size: 30px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 100px;
    border-radius: 10px;
    
}

#button:hover {
    order: 1;
    height: 50px;
    width: 250px;
    background-color: #1E7A63;
    font-size: 30px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 100px;
    border-radius: 10px;
    cursor: pointer;
}

#task {
    margin-left: 85px;
    color: #3498DB;
    font-size: 50px;
    border: inset;
    border-color: #3B4048;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#title {
    display: flex;
    justify-content: center;
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(190, 2, 2) 1px 0 10px
}

#navBar {
    background-color: #101111;
    width: 90px;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
}

#homeButton {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 18px;
    cursor: pointer;
}

#homeButton.clicked {
    opacity: 0.5; 
}

#settingsButton {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 18px;
    cursor: pointer;
}

#settingsButton.clicked {
    opacity: 0.5; 
}

#deadlineInput {
    height: 50px;
    width: 250px;
    border: 100px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

